@page
@model AdminLTE.Areas.Identity.Pages.Account.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>Admin</b>LTE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form id="account" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="current-password" aria-required="true" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="Input.RememberMe" id="remember" />
                                <label for="remember">
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>
                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>

                @if (Model.ExternalLogins?.Count > 0)
                {
                    <div class="social-auth-links text-center mt-2 mb-3">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" form="external-account" name="provider" value="@provider.Name" class="btn btn-block btn-primary">
                                <i class="fab fa-@provider.Name.ToLower() mr-2"></i> Sign in using @provider.DisplayName
                            </button>
                        }
                    </div>
                    <form id="external-account" method="post" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl"></form>
                }

                <p class="mb-1">
                    <a asp-page="./ForgotPassword">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Register a new membership</a>
                </p>
                <p class="mt-2">
                    <a asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>

    @* @section Scripts { *@
        <partial name="_ValidationScriptsPartial" />
    @* } *@
    <script>
        if (window.history && window.history.pushState) {
            window.history.pushState(null, "", window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", window.location.href);
            };
        }
    </script>
</body>
</html>
